:root {
    --ion-color-primary: #1E3D58;
    --ion-color-secondary: #48A9A6;
    --ion-color-tertiary: #E0E0E0;
}

h1, h2 {
    font-family: var(--heading-font);
    margin-bottom: 26px;
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    padding-top: 10px;
}

ion-button {
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 25px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
}

ion-button:hover {
    --background: var(--ion-color-primary-darken-10);
    transform: translateY(-2px); 
}

ion-button:active {
    --background: var(--ion-color-primary-darken-15);
}

.main-content {
    padding-top: 100px;
}

.secondary-content {
    background-color: #E0E0E0;;
}

.logo-title-container {
    padding: 10px 0; /* Spacing for the logo and title */
}

ion-header {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Shadow for the header */
}

.full-text {
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: clip !important;
}

.link {
    text-decoration: none;
}

.emoji {
    background-color: rgba(126, 211, 33, 0.1); /* 10% opacity of the soft green */
    padding: 2px;
    border-radius: 50%;  /* Makes the background circular */
}

.emoji-container {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center; 
    line-height: 100%;
  }
.rating-container {
    margin-top: 26px;
}

.feedback-box {
    background-color: #E0E0E0;
}

.contact-card-header {
    color: #1E3D58;
}

.contact-form {
    margin-top: 30px;
    color: #1E3D58;
}

.business-logo-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%; 
    overflow: hidden; 
}

.business-logo {
    width: 100%;  
    height: 100%; 
    object-fit: contain; /* This will ensure the image fits inside the container without cropping */
}

